<header>
    <div class="container">
  <nav>
    <a class="logo" href="/about">
      <img src="../logo.jpg" alt="logo"></a>
    <ul>
      <li><a href="/createtask">Create Task</a></li>
      <li><a href="/info">Info</a></li>
      <li><a href="/logout">Sign out</a></li>
    </ul>
  </nav>
  </div>
</header>
